@model List<PersonModel>

@{
    ViewData["Title"] = "Rookies Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Rookies List</h1>
    <div class="text-start mb-5">
        <a class="btn btn-primary mr-2" role="button" asp-controller="Rookies" asp-action="Create">Create new person</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-end">#</th>
                <th scope="col" class="text-start">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Birth Place</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var person = Model[i];
                <tr>
                    <th scope="row" class="text-end">@(i+1)</th>
                    <td class="text-start">
                        <a asp-controller="Rookies" asp-action="Details" asp-route-index="@i">@person.FullName</a>
                    </td>
                    <td>@person.Gender</td>
                    <td>@person.DateOfBirth?.ToString("dd/MM/yyyy")</td>
                    <td>@person.BirthPlace</td>
                    <td>
                        <a class="btn btn-info mr-2" asp-controller="Rookies" asp-action="Edit"
                        asp-route-index="@i">Edit</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_@i">Delete</a>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModal_@i" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form asp-controller="Rookies" asp-action="Delete" asp-route-index="@i" method="post"
                                    class="col-8 offset-2">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
